@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg-color: #F1F5F9;
    --primary-shadow-color: #FECACA;
    --primary-button-color: #EF4444;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Ubuntu', sans-serif;
}

.navigation {
    padding: 1.5rem;
    background-color: var(--primary-button-color);
    box-shadow: 5pt 0pt 15pt var(--primary-shadow-color);
}

.navigation h3 {
    float: left;
    color: var(--primary-bg-color)
}

.navigation a {
    text-decoration: none;
    color: var(--primary-bg-color);
}

.nav-ul {
    list-style: none;
    text-align: right;
}

.nav-li {
    display: inline;
}

.nav-li a {
    text-decoration: none;
    color: var(--primary-bg-color)
}

.nav-li a:after{
    color: var(--primary-bg-color);
    text-decoration: none;
}

.primary-container {
    display: block;
    margin: auto;
    text-align: center;
}

.hero {
    margin: 5rem auto;
    text-align: center;
}

.hero span {
    color: var(--primary-button-color);
}

.hero p {
    margin: 0.5rem auto;
}

.secondary-container {
    margin: 5rem auto;
}

.secondary-grid {
    display: inline-grid;
}

.grid-item {
    padding: 3rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.25rem auto;
    background-color: var(--primary-button-color);
    box-shadow: 0pt 0pt 5pt var(--primary-shadow-color);
}

.grid-item a {
    text-decoration: none;
    color: var(--primary-bg-color);
}

.footer {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: var(--primary-bg-color);
}

.footer p {
    margin: 0;
    padding: 0;
}

.footer ul{
    list-style: none;
}

.footer-socials-list {
    padding: 0;
}

#footer-socials {
    margin: 0.5rem;
    padding: auto 1rem;
}

.footer-socials-list li{
    display: inline;
    list-style-type: none;
    margin: 0.25rem;
    text-align: center;
}

.social-icn{
    color: black;
}

#footer-cc-text {
    display: block;
    margin: 0.5rem auto;
}

/* Quiz 1 */
.form {
    margin: 1rem auto;
}

.angle-input {
    margin: auto 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0pt 0pt 5pt var(--primary-shadow-color);
}

.form-item {
    display: block;
    margin: 1rem auto;
}

.btn-submit {
    padding: 0.5rem 5rem 0.5rem 5rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.25rem auto;
    color: var(--primary-bg-color);
    background-color: var(--primary-button-color);
    box-shadow: 0pt 0pt 5pt var(--primary-shadow-color);
}

.output {
    display: none;
    width: 20%;
    margin: 1rem auto;
    padding: 1rem 5rem 1rem 5rem;
    background-color: var(--primary-button-color);
    color: var(--primary-bg-color);
    text-align: center;
    border-radius: 0.5rem;
}

/* Quiz three */
.quiz-form-item {
    width: 50%;
    background-color: white;
    box-shadow: 0pt 0pt 5pt var(--primary-shadow-color);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: left;
}

.radio-inputs {
    margin: 1rem auto;
}